{% extends 'employee/base.html' %}
<!--ベースドットhtmlの内容を引き継ぐ、という意味-->

{% block content %}
<form action="" method="GET">
{{ form }}
<button type="submit">検索</button>
</form>
<p>employee_list.htmlファイル</p>
<p>URLは8000/(空文字列)、urls.pyを参照</p>
<table class="table table-bordered mt-4">
  <thead>
    <tr>
      <th>ID</th>
      <th>姓</th>
      <th>名</th>
      <th>メール</th>
      <th>部署</th>
      <th>部活</th>
    </tr>
  </thead>
  <tbody>
    {% for employee in employee_list %}
    <tr>
      <td>{{ employee.pk }}</td>
      <td>{{ employee.last_name }}</td>
      <td>{{ employee.first_name }}</td>
      <td>{{ employee.email }}</td>
      <td>{{ employee.department }}</td>
      <td>{% for club in employee.club.all %}{{ club }},{% endfor %}</td>
      <td>{{ employee.pk }}</td>
      <td>{{ employee.club }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% include 'employee/page4.html' %}
{% endblock %}


<!--L25から28 employeeはモデル名、後半はその中の要素。models.py参照-->